<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./src/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <title>Portfólio - IagoACPereira</title>
</head>
<body onload="regatarMeusDados()">
  <nav>
    <img src="" id="foto">
    <p id="nome"></p>
    <ul id="contatos"></ul>
  </nav>

  <main>
    <div id="descricao"></div>
    <div id="projetos"></div>
  </main>

  <script src="/axios/axios.min.js"></script>
  <script src="./src/script.js"></script>
</body>
</html>